body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
   font-family: 'century-gothic';
   src: url('./assets/FONTES/century-gothic.ttf');
   font-weight: 300;
  }

  @font-face {
    font-family: 'HalenoirExpanded-Black';
    src: url('./assets/FONTES/HalenoirExpanded-Black.otf');
    font-weight: 300;
   }

   @font-face {
    font-family: 'gill-sans-mt';
    src: url('./assets/FONTES/gill-sans-mt.ttf');
    font-weight: 300;
   }
 
 



 